:host{
  --scene-loading-background: var(--amplify-secondary-tint);
  --scene-loading-bar-color: var(--amplify-secondary-color);
  --scene-loading-bar-fill: #00a1c9;
  --scene-logo-fill: var(--amplify-secondary-contrast);
  --scene-name-color: var(--amplify-secondary-contrast);
  --scene-error-color: var(--amplify-red);
}


.loading-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--scene-loading-background);
  min-height: 400px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-logo {
  margin-bottom: 20px;
  width: 80px;
  fill: var(--scene-logo-fill);
}

.loading-scene-name {
  color: var(--scene-name-color);
  margin: 0 2px 20px 2px;
  font-size: var(--amplify-text-md);
  font-family: 'Amazon Ember';
}

.loading-bar {
  height: 2px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--scene-loading-bar-color);
}

.loading-bar-fill {
  background-color: var(--scene-loading-bar-fill);
  height: 100%;
  border-radius: 2px;
}

.scene-error-text {
  color: var(--scene-error-color);
  font-size: var(--amplify-text-sm);
  font-family: 'Amazon Ember';
}
