/**
 * @prop --label-color: Text color within the label
 */
:host,
amplify-label {
  --label-color: var(--amplify-secondary-color);
}

.label {
  color: var(--label-color);
  font-size: var(--amplify-text-sm);
  margin-bottom: 16px;
}
