/**
 * @prop --height: Image height
 * @prop --width: Image width
 */
:host,
amplify-s3-image {
  height: inherit;
  width: inherit;

  --height: inherit;
  --width: inherit;
}

img {
  height: var(--height);
  width: var(--width);
}
