/**
 * @prop --height: Image height
 * @prop --width: Image width
 */
:host {
	height: inherit;
	width: inherit;

	--height: inherit;
	--width: inherit;
}

img {
	height: var(--height);
	width: var(--width);
}
