* @aws-amplify/amplify-js
/packages/api @aws-amplify/amplify-js
/packages/api-graphql @aws-amplify/amplify-js
/packages/api-rest @aws-amplify/amplify-js
/packages/core @aws-amplify/amplify-js
/packages/datastore @aws-amplify/amplify-js
/packages/datastore-storage-adapter @aws-amplify/amplify-js
/packages/geo @aws-amplify/amplify-js @aws-amplify/amplify-ui
/packages/pubsub @aws-amplify/amplify-js
/packages/aws-amplify/package.json @aws-amplify/amplify-js-admins
/packages/storage/src/storageBrowser @aws-amplify/amplify-js @aws-amplify/amplify-ui
/packages/storage/storage-browser @aws-amplify/amplify-js @aws-amplify/amplify-ui
/.circleci/ @aws-amplify/amplify-js @aws-amplify/amplify-devops
/.github/ @aws-amplify/amplify-js-admins

# The following paths involve server-side use cases, token/user session management.
# Changes made to these paths requires additional reviews and approvals.
/packages/auth @pranavosu @sarayev @avi-karthik 
/packages/aws-amplify/src/adapter-core @pranavosu @sarayev @avi-karthik 
/packages/core/src/adapterCore @pranavosu @sarayev @avi-karthik 
/packages/core/src/singleton @pranavosu @sarayev @avi-karthik 
/packages/core/src/utils/convert @pranavosu @sarayev @avi-karthik 
/packages/core/src/utils/WordArray.ts @pranavosu @sarayev @avi-karthik 
/packages/core/src/storage @pranavosu @sarayev @avi-karthik 
/packages/core/src/utils/generateRandomString.ts @pranavosu @sarayev @avi-karthik 
/packages/core/src/utils/globalHelpers @pranavosu @sarayev @avi-karthik 
/packages/core/src/utils/urlSafeDecode.ts @pranavosu @sarayev @avi-karthik 
/packages/core/src/awsClients/cognitoIdentity @pranavosu @sarayev @avi-karthik 
/packages/core/src/clients/internal @pranavosu @sarayev @avi-karthik 
/packages/core/src/Hub @pranavosu @sarayev @avi-karthik 
/packages/adapter-nextjs @pranavosu @sarayev @avi-karthik 
/packages/rtn-web-browser @pranavosu @sarayev @avi-karthik 
/packages/storage/src/providers/s3/apis/internal @pranavosu @sarayev @avi-karthik 
/packages/storage/src/providers/s3/apis/server @pranavosu @sarayev @avi-karthik 
/packages/api-rest/src/apis/server.ts @pranavosu @sarayev @avi-karthik 
/packages/api-rest/src/apis/common/internalPost.ts @pranavosu @sarayev @avi-karthik 
/packages/api-graphql/src/server @pranavosu @sarayev @avi-karthik 
/packages/api-graphql/src/internals/server @pranavosu @sarayev @avi-karthik 
