:host {
  --background-color: var(--amplify-white);
  --font-family: var(--amplify-font-family);
}


.section {
  position: relative;
  margin-bottom: 20px;
  background-color: var(--background-color);
  padding: 35px 40px;
  text-align: left;
  display: inline-block;
  border-radius: 6px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  font-family: var(--font-family);

  width: 100%;
  min-width: 320px;

  @include md {
    width: auto;
    min-width: 460px;
  }
}
