:host {
  --font-family: var(--amplify-font-family);
  --background-color: var(--amplify-background-color);
}

.section {
  position: relative;
  margin-bottom: var(--amplify-margin-bottom);
  background-color: var(--background-color);
  padding: var(--amplify-padding);
  text-align: left;
  display: inline-block;
  border-radius: var(--amplify-border-radius);
  box-shadow: var(--amplify-box-shadow);
  box-sizing: border-box;
  font-family: var(--font-family);

  width: 100%;
  min-width: var(--min-width);

  @include md {
    width: var(--width);
  }
}
