build
coverage
Config
lerna-debug.log
node_modules
packages/*/node_modules/**
packages/**/lib/
packages/**/lib-esm/
packages/**/dist/
packages/**/es/
packages/**/esm/
packages/**/cjs/
.DS_Store
.vscode
.idea
*.log
.npm/
packages/**/cypress/videos/
yarn.lock
package-lock.json
packages/*/.watchmanconfig
coverage-ts/