build
Config
lerna-debug.log
node_modules
packages/*/node_modules/**
packages/**/lib/
packages/**/lib-esm/
packages/**/dist/
packages/**/es/
packages/**/esm/
packages/**/cjs/
**/.DS_Store
.vscode
.idea
*.log
.npm/
packages/**/cypress/videos/
package-lock.json
packages/*/.watchmanconfig
dual-publish-tmp

### Version file - core build artifact
packages/core/src/Platform/version.ts

# BUCK
buck-out/
\.buckd/
android/app/libs
android/keystores/debug.keystore

# Android/IJ
#
.classpath
.cxx
.gradle
.idea
.project
.settings
local.properties
android.iml

### Xcode ###
build/
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

### Coverage ###
coverage/
coverage-native/
coverage-ts/

# macOS
.DS_Store

#examples
**/example/ios/Pods
**/example/ios/Podfile.lock
**/example/.bundle
**/example/yarn.lock
