build
coverage
Config
lerna-debug.log
node_modules/**
packages/*/node_modules/**
packages/aws-amplify-angular/lib/
packages/cache/dist/
packages/cache/lib/
packages/core/dist/
packages/core/lib/
.DS_Store
.vscode
.idea
*.log