{
	"trailingComma": "es5",
	"singleQuote": true,
	"useTabs": true,
	"overrides": [
		{
			"files": "*.vue",
			"options": {
				"htmlWhitespaceSensitivity": "ignore",
				"printWidth": 120
			}
		}
	]
}