:host {
  --color: var(--amplify-grey);
  --font-family: var(--amplify-font-family);
  --font-size: var(--amplify-text-xs);
}

.hint {
  color: var(--color);
  font-family: var(--font-family);
  font-weight: 300;
  font-size: var(--font-size);
  margin-bottom: 2.625rem;
}
