:host {
  --color: var(--amplify-grey);
  --font-family: var(--amplify-font-family);
  --font-size: var(--amplify-text-xs);
  --font-weight: var(--amplify-font-weight);
}

.hint {
  color: var(--color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  margin-bottom: 2.625rem;
}
