/**
 * @prop --overlay-bg-color: Image overlay color on hover
 */
:host {
	--overlay-bg-color: rgba(0, 0, 0, 0.15);
}

.album-container {
	box-sizing: border-box;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 2rem;
}

.grid-row {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
	padding-bottom: 3rem;
}

.grid-item {
	position: relative;
	flex: 1 0 22rem;
	flex-grow: 1;
	margin: 1rem;
	display: flex;
	justify-content: center;
}

amplify-s3-image {
	--width: 22rem;
	--height: 20rem;
	border-radius: 5px;
	object-fit: cover;
}

.img-overlay {
	display: none;
	width: 100%;
	height: 21rem;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--overlay-bg-color);
}

.grid-item:hover .img-overlay {
	display: block;
}
