:host {
  --link-color: var(--amplify-amazon-orange);
  --link-hover: var(--amplify-light-amazon-orange);
  --link-active: var(--amplify-dark-amazon-orange);
}

.link {
  color: var(--link-color);
  cursor: pointer;

  &:link {
    color: var(--link-color);
    text-decoration: none;
  }

  &:hover {
    color: var(--link-hover);
    text-decoration: underline;
  }

  &:active {
    color: var(--link-active);
    text-decoration: underline;
  }
}
