:host {
	--link-color: var(--amplify-primary-color);
	--link-hover: var(--amplify-primary-tint);
	--link-active: var(--amplify-primary-shade);
}

.link {
	color: var(--link-color);
	cursor: pointer;

	&:link {
		color: var(--link-color);
		text-decoration: none;
	}

	&:hover {
		color: var(--link-hover);
		text-decoration: underline;
	}

	&:active {
		color: var(--link-active);
		text-decoration: underline;
	}
}
