/**
 * @prop --background-color: Background color of the container
 * @prop --color: Text color within the toast
 * @prop --font-size: Font size of the text within the toast
 * @prop --close-icon-color: Fill color of the close icon
 * @prop --close-icon-hover: Fill color of the close icon when hovering
 */
:host {
	--background-color: var(--amplify-secondary-tint);
	--color: var(--amplify-white);
	--font-size: var(--amplify-text-sm);
	--font-family: var(--amplify-font-family);
	--close-icon-color: var(--amplify-white);
	--close-icon-hover: var(--amplify-red);
}

.toast-icon {
	padding-right: 5px;
}

.toast {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
	padding: 16px;
	background-color: var(--background-color);
	font-size: var(--font-size);
	color: var(--color);
	box-sizing: border-box;
	border-radius: 5px;
	font-family: var(--font-family);

	> span {
		margin-right: 10px;
	}
}

.toast-close {
	margin-left: auto;
	align-self: center;
	position: relative;
	width: 18px;
	height: 18px;
	overflow: hidden;
	cursor: pointer;
	background: transparent;
	border: none;

	&::before,
	&::after {
		content: '';
		position: absolute;
		height: 2px;
		width: 100%;
		top: 50%;
		left: 0;
		margin-top: -1px;
		background: var(--close-icon-color);
	}

	&:hover::before,
	&:hover::after {
		background: var(--close-icon-hover);
	}

	&::before {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	&::after {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}
