/**
 * Sections list (components/_sections-list.scss)
 */

/* ----- General ----- */
.sections-list {
	float: left;
	margin-top: 1.25rem;
	background-color: white;
}

/* ----- Wrapper ----- */
.sections-list-wrapper {
	width: 100%;
}

/* ----- Affix ----- */
.sections-list.affix {
	position: fixed;
	top: 30;
}

.sections-list.affix-bottom {
	position: absolute;
}


/* ----- List ----- */
.sections-list {

	a.section-head {
		font-weight: bold;
		font-size: 18px; 
	}

	.level-1 {
		.in-this-page { 
			ul:first-of-type {
 
			}
		}
	}

	ul {
		ul {
			margin-top: .625rem;
			margin-bottom: 0;
			color:black;
		}

		li {
			padding-bottom: 2px;
			border-left: 1px solid #eee;
			transition: border .2s;
			border-left-color:white;
			line-height: 20px;
			padding-left:0px;

			&.active {
				border-left-color: gray;
			}

			&.section-link {
				a {
					padding-left:11px;
				}
			}
			
			&.has-submenu {
				//padding-right: 1.25rem;
				//font-weight: bold;
				.level-3{
					a {
						padding-left:20px;
					}
				}

				.level-4 {
					a {
						padding-left:30px;
					}
				}

				/* &::after {
					@extend .icon;
					content: '\e91d';
					color: #bdbdbd;
					display: inline-block;
					font-size: 1.25rem;
					position: absolute;
					right: 0;
					top: .3125rem;
					transition: color .5s;
				} */

				> ul {
					display: none;
				}

				&.active {

					/* &::after {
						color: $color-dark-blue;
						
					} */

					> ul {
						display: block;
					}
				}


			}

			&::before {
				display: none;
			}

			a {
				@include link-reset;
				//font-size:0.9rem;
				padding-left: 10px;
				white-space: nowrap;
				overflow: hidden;
				&:hover {
					text-decoration: underline;
				}
			}

		}

		/*.level-2 {
			li {
				&.active {
					border-left-color: gray;
					margin-left: -2px;
					padding-left:0px;
					border-width: 3px;
				}
			}
		}

		.level-3 {
			li {
				&.active {
					border-left-color: #585858;
					margin-left: -3px;
					padding-left:0px;
					border-width: 3px;
				}
			}
		}

		.level-4 {
			li {
				&.active {
					border-left-color: black;
					margin-left: -3px;
					padding-left:0px;
					border-width: 3px;
				}
			}
		}*/

	}
}

.marketing-grid-item {
	.marketing-grid__title {
		font-size: 1.55rem;
		font-weight: normal;
		border:none;
		
	}
}
