.sign-up-form-footer {
  font-family: var(--amplify-font-family);
  font-weight: 300;
  font-size: var(--amplify-secondary-font-size);
  color: var(--amplify-grey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
