:host {
  --background-color: var(--amplify-white);
  --border-color: var(--amplify-light-grey);
  --font-family: var(--amplify-font-family);
}

.greetings {
  position: relative;
  border: 1px solid transparent;
  background-color: var(--background-color);
  border-color: var(--border-color);
  padding: 10px;
  font-family: var(--font-family);
}

amplify-sign-out {
  margin-left: 1rem;
}
