:host {
  --background-color: var(--amplify-amazon-orange);
  --background-color-active: var(--amplify-dark-amazon-orange);
  --background-color-disable : #ffc46d;
  --color: var(--amplify-white);
  --border-width: initial;
  --border-color: initial;
  --border-style: initial;
}

.button {
  min-width: 153px;
  display: inline-block;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  color: var(--color);
  text-transform: uppercase;
  padding: 14px;
  letter-spacing: 1.1px;
  background-color: var(--background-color);
  border-width: var(--border-width);
  border-color: var(--border-color);
  border-style: var(--border-style);

  &:active {
    opacity: 1;
    background-color: var(--background-color-active);
  }
  &:hover {
    opacity: 0.8;
  }
  &:disabled {
    opacity: 1;
    cursor: auto;
    background-color: var(--background-color-disable);
  }
}
