:host {
  --background-color: var(--amplify-primary-color);
  --background-color-active: var(--amplify-primary-shade);
  --background-color-disable: var(--amplify-primary-tint);
  --color: var(--amplify-primary-contrast);
  --border-width: 0;
  --border-color: initial;
  --border-style: initial;
  --link-color: var(--amplify-primary-color);
  --link-hover: var(--amplify-primary-tint);
  --link-active: var(--amplify-primary-shade);

  width: 100%;
  text-align: center;

  @include md {
    width: inherit;
  }
}

.button {
  width: 100%;
  min-width: 153px;
  display: inline-block;
  margin-bottom: 0;
  font-size: var(--amplify-text-xxs);
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  color: var(--color);
  text-transform: uppercase;
  padding: 14px;
  letter-spacing: 1.1px;
  background-color: var(--background-color);
  border-width: var(--border-width);
  border-color: var(--border-color);
  border-style: var(--border-style);

  &:active {
    opacity: 1;
    background-color: var(--background-color-active);
  }

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.65;
    cursor: auto;
    background-color: var(--background-color-disable);
  }
}

.anchor {
  color: var(--link-color);
  padding: 0;
  border: none;
  font: inherit;
  cursor: pointer;

  &:link {
    color: var(--link-color);
    text-decoration: none;
  }

  &:hover {
    color: var(--link-hover);
    text-decoration: underline;
  }

  &:active {
    color: var(--link-active);
    text-decoration: underline;
  }
}
