<header>	
    <div class="tsd-page-toolbar">	
        <div class="container">	
            <div class="table-wrap">	
                <div class="table-cell logo">	
                    <a href="{{relativeURL "index.html"}}">	
                         <img src="https://aws-amplify.github.io/images/layout/logo.png" style="width:38px; position: absolute; margin-top: 5px;">	
                         <div style="margin-left: 45px; padding-top: 1px; position: absolute;">AWS Amplify API</div>	
                    </a>	
                </div>	
                 <div class="table-cell" style="">	<body>
                    <a href="/amplify-js/" style='background: #efefef; padding: 4px; border-radius: 20px; font-size: 14.5px; padding-left: 10px; padding-right: 10px;' for="tsd-filter-docs">AWS Amplify Home</a>
                </div>	</body> 
                 <div class="table-cell" id="tsd-widgets">	
                    <div id="tsd-filter">	
                        <a href="#" class="tsd-widget options no-caption" data-toggle="options">Options</a>	
                        <div class="tsd-filter-group">	
                            <div class="tsd-select" id="tsd-filter-visibility">	
                                <span class="tsd-select-label">All</span>	
                                <ul class="tsd-select-list">	
                                    <li data-value="public">Public</li>	
                                    <li data-value="protected">Public/Protected</li>	
                                    <li data-value="private" class="selected">All</li>	
                                </ul>	
                            </div>	
                             <input type="checkbox" id="tsd-filter-inherited" checked />	
                            <label class="tsd-widget" for="tsd-filter-inherited">Inherited</label>	
                             {{#unless settings.excludeExternals}}	
                                <input type="checkbox" id="tsd-filter-externals" checked />	
                                <label class="tsd-widget" for="tsd-filter-externals">Externals</label>	
                            {{/unless}}	
                             <input type="checkbox" id="tsd-filter-only-exported" />	
                            <label class="tsd-widget" for="tsd-filter-only-exported">Only exported</label>	
                        </div>	
                    </div>	
                    <a href="https://aws.github.io/aws-amplify/api#typedoc-main-index" class="tsd-widget menu no-caption">Menu</a>	
                </div>	
            </div>	
        </div>	
    </div>	
</header>