:host {
	--object-fit: cover;
	--hint-color: var(--amplify-grey);
	--header-color: var(--amplify-secondary-color);
	--header-size: var(--amplify-text-lg);
	--header-hint-size: var(--amplify-text-md);
	--placeholder-hint-size: var(--amplify-text-sm);
	--placeholder-border-color: var(--amplify-grey);
}

.photo-picker-container {
	max-width: 50rem;
}

img {
	object-fit: var(--object-fit);
	width: 100%;
	height: 100%;
}

input[type='file'] {
	width: 100%;
	height: 100%;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	cursor: pointer;
}

.header {
	color: var(--header-color);
	font-size: var(--header-size);
	font-weight: bold;
	margin-bottom: 24px;
}

.header-hint {
	color: var(--hint-color);
	font-size: var(--header-hint-size);
	word-break: break-word;
	margin-bottom: 24px;
}

.picker-body {
	position: relative;
	width: 25rem;
	height: 16rem;
	border: 2px dotted var(--placeholder-border-color);
	padding: 10px;
	margin-bottom: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.placeholder-hint {
	color: var(--hint-color);
	font-family: Helvetica;
	font-style: italic;
	font-size: var(--placeholder-hint-size);
	word-break: break-word;
	margin-bottom: 30px;
}
