.scene-container {
  width: 100%;
  height: 600px;
  position: relative;
}

.scene {
  width: 100%;
  height: 100%;
}

.scene-nar {
  display: flex;
  align-items: center;
  font-size: 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.scene-actions {
  margin: 1em 1em 1em auto;
}
