:host {
  --background-color: var(--amplify-background-color);
  --width: 28.75rem;
  --min-width: 20rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
  --border-radius: 6px;
  --padding: 35px 40px;
  --margin-bottom: 20px;
}
