/* @import "~aws-amplify-angular/theme.css"; */

:root {
  --font-family: AmazonEmber,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
  --body-background: #F8F4F4;
  
  --color-primary: #FF9900;
  --color-primary-accent: #232F3E;
  --color-primary-highlight: #FFC46D;
  
  --color-secondary: #152939;
  --color-secondary-accent: #31465F;

  --color-danger: #DD3F5B;
  --color-error: #D0021B;

  --color-accent-brown: #828282;
  --color-accent-blue: #E1E4EA;

  --gradient-blaze: linear-gradient(270deg, #FFC300 0%, #FF9000 100%);

  --color-blue: #007EB9;
  --color-purple: #527FFF;
  --color-gray: #828282;

  --input-border: 1px solid #C4C4C4;
  --input-padding: 0.5em 0.5em 0.3em 1em;

  --box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.15);

  --button-height: 42px;
}

body {
  font-family: var(--font-family);
  background: var(--color-primary-accent);
}

h1 {
  height: 50px;
  font-weight: 500;
}

h2 {
  height: 42px;
  font-weight: 300;
}

h4 {
  height: 28px;
  font-weight: 400;
}

h5 {
  height: 21px;
  font-weight: 400;
}

p {
  height: 16px;
  font-weight: 300;
}

span {
  color: var(--color-gray);
}

input:disabled {
  background-color: #EDEDED;
}

.amplify-authenticator {
width: 460px;
border-radius: 6px;
background-color: #FFFFFF;
  box-shadow: var(--box-shadow);
  margin: 0 auto;
}

.amplify-container {
  height: auto;
  padding-bottom: 1em;
}

.amplify-signup-container {
  height: 570px;
}

.amplify-reset-password-container {
  height: 270px;
}

.amplify-confirm-reset-password-container {
  height: 360px;
}

.amplify-confirm-signup-container {
  height: 370px;
}

.amplify-confirm-signin-container {
  height: 260px;
}

.amplify-form-actions-left {
  margin-top: 1em;
  color: var(--color-gray);
}


/************************************
** Input Groups 
************************************/

.amplify-input-group {
  display:flex;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.amplify-input-group > div:first-of-type {
  float:left;
}

.amplify-input-group > div:last-child > input {
  border-left: none !important;
  width: 100%;
}

.amplify-input-group > div:last-child {
  display: flex;
  width: 100%;
}

.amplify-input-group > div {
  float:right;
}

.amplify-input-group-item > input {
  margin-top:0px !important;
  margin-left:0px !important;
}

.amplify-input-group-label {
  display:block;
}

.amplify-select-phone-country {
  height: 55px;
  width: 68px;
  border: 1px solid #C4C4C4;
  border-radius: 3px 0 0 3px;
  background-color: #F8F4F4;
}

/***********************************
** Forms
***********************************/

.amplify-form-container {
  height:100%;
}

.amplify-form-header {
  color: var(--color-primary-accent);
  height: 28px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.49px;
  line-height: 16px;
  margin: 0.2em;
}

.amplify-form-text {
  height: 36px;
  width: 90%;
  color: var(--color-accent-brown);
  font-size: 14px;
  letter-spacing: 0.4px;
  line-height: 20px;
}

.amplify-input-label {
height: 18px;
width: 367.92px;
color: var(--color-accent);
font-family: var(--font-family);
  font-size: 14px;
  margin: 0.5em;
letter-spacing: 0.4px;
line-height: 18px;
}

.amplify-form-input {
height: 42px;
  width: 378px;
  font-size: 14px;
  letter-spacing: 0.4px;
border: var(--input-border);
border-radius: 3px;
  background-color: #FFFFFF;
  padding: var(--input-padding);
  margin: 0.5em;
}

.amplify-form-actions {
  margin-top:1.8em;
}

.amplify-signin-username {
  margin-top: 0.8em;
}

.amplify-form-row {
  margin-top: 1em;
}

.amplify-form-action {
  margin: 0.5em;
  font-size: 12px;
}

.amplify-form-signup {
  margin-top: 1em;
  color: var(--color-gray);
}

.amplify-form-body {
  padding: 1.5em;
}

.amplify-form-row {
  display: block;
}

.amplify-form-cell-left {
  float: left;
  margin: 8px 0 8px 8px;
}

.amplify-form-cell-right {
  float:right;
  margin: 8px 8px 8px 0;
}

.amplify-form-link {
  cursor: pointer;
  color: var(--color-primary);
}

.amplify-form-link:hover {
  color: var(--color-primary-highlight);
}

.amplify-form-button {
  margin: 0.4em 0 0 0.5em;
  padding: 0.5em;
  border: none;
  height: var(--button-height);
  width: 155px;
  color: white;
  text-transform: uppercase;
  background-color: var(--color-primary);
  cursor: pointer;
}

.amplify-form-button:hover {
  background-color: var(--color-primary-highlight);
}

.amplify-greeting {
    padding: 1em;
}

.amplify-greeting-sign-out {
    float:right;
}

.amplify-footer {
  clear: both;
}

/************************************
** Alert
************************************/

.amplify-alert-close {
  float:right;
  cursor: pointer;
  color: var(--color-gray);
  font-size: 24px;
  line-height: 24px;
}

.amplify-alert-close:hover {
    color: var(--color-primary-accent);
}

.amplify-alert-icon {
  float:left;
  font-size: 24px;
  line-height: 24px;
  color: var(--color-danger);
}

.amplify-alert {
  position: absolute;
  min-height: 52px;
  width: 460px;
  margin-top: 5em;
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
}

.amplify-alert-body {
  padding:1em;
}

.amplify-alert-message {
  max-width: 85%;
  display: inline-flex;
  color: var(--color-primary-accent);
  font-size: 15px;
  line-height: 24px;
  margin-left: 0.5em;
}


/************************************
** Tooltip
************************************/

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: var(--color-primary-accent);
  color:white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

/** Storage Components **/

.amplify-photo-picker-container {
  width: 400px;
  margin: 0 auto;
  padding: 1em;
}

.amplify-photo-picker-preview {
  width: 90%;
}

.amplify-album-container {
  width: 400px;
  margin: 0 auto;
  padding: 1em;
}

.amplify-image-container {
  width:80px;
}