.amplify-authenticator {
  width: 400px;
  padding: 1em;
  margin: 0 auto;
}

.amplify-form-input {
  width: 90%;
  margin: 0.5em;
  padding: 0.5em;
}

.amplify-form-body {
  padding: 1.5em;
}

.amplify-form-row {
  display: 'flex';
}

.amplify-form-cell-left {
  float: left;
  margin: 8px 0 8px 8px;
}

.amplify-form-cell-right {
  float:right;
  margin: 8px 8px 8px 0;
}

.amplify-form-link {
  cursor: pointer;
}

.amplify-form-link:hover {
  color: darkorange;
}

.amplify-form-button {
  margin: 0.4em 0 0 0.5em;
  padding: 0.5em;
  border: 1px solid silver;
  background-color: #FEFEFE;
  cursor: pointer;
}

.amplify-form-button:hover {
  color: darkorange;
}

.amplify-greeting-sign-out {}

.amplify-footer {
  clear: both;
}

.amplify-form-message-error {
  margin: 0.5em 0 0.5em 2em;
  clear: both;
  color: orangered;
}

/** Storage Components **/

.amplify-photo-picker-container {
  width: 400px;
  margin: 0 auto;
  padding: 1em;
}

.amplify-photo-picker-preview {
  width: 90%;
}

.amplify-album-container {
  width: 400px;
  margin: 0 auto;
  padding: 1em;
}

.amplify-image-container {
  width:80px;
}

.amplify-image {
  width:80px;
  transition: width 0.5s;
  cursor: pointer;
}

.amplify-image:hover {
  width:128px;
}