.hero-profile {
  border: 1px solid gray;
  padding: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 10px;
  background-color: lightgreen;
  color: black;
}

.job-ad {
  border: 1px solid gray;
  padding: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 10px;
  background-color: lightblue;
  color: black;
}

.ad-banner {
  width: 400px;
}




/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/*
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/













.amplify-authenticator {
  width: 400px;
  padding: 1em;
  margin: 0 auto;
}

.amplify-form-input {
  width: 90%;
  margin: 0.5em;
  padding: 0.5em;
}

.amplify-form-body {
  padding: 1.5em;
}

.amplify-form-row {
  display: 'flex';
}

.amplify-form-cell-left {
  float: left;
  margin: 8px 0 8px 8px;
}

.amplify-form-cell-right {
  float:right;
  margin: 8px 8px 8px 0;
}

.amplify-form-link {
  cursor: pointer;
}

.amplify-form-link:hover {
  color: darkorange;
}

.amplify-form-button {
  margin: 0.4em 0 0 0.5em;
  padding: 0.5em;
  border: 1px solid silver;
  background-color: #FEFEFE;
  cursor: pointer;
}

.amplify-form-button:hover {
  color: darkorange;
}

.amplify-greeting-sign-out {}

.amplify-footer {
  clear: both;
}

.amplify-form-message-error {
  margin: 0.5em 0 0.5em 2em;
  clear: both;
  color: orangered;
}

/** Storage Components **/

.amplify-photo-picker-container {
  width: 400px;
  margin: 0 auto;
  padding: 1em;
}

.amplify-photo-picker-preview {
  width: 90%;
}

.amplify-album-container {
  width: 400px;
  margin: 0 auto;
  padding: 1em;
}

.amplify-image-container {
  width:80px;
}

.amplify-image {
  width:80px;
  transition: width 0.5s;
  cursor: pointer;
}

.amplify-image:hover {
  width:128px;
}