:host {
  --header-color: var(--amplify-secondary-color);
  --header-size: var(--amplify-text-lg);
}
.amplify-chatbot {
  display: inline-block;
  background-color: var(--background-color);
  border-radius: 0.375rem;
  box-shadow: 0.0625rem 0rem 0.25rem 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  font-family: var(--amplify-font-family);
  width: 28.75rem;
  margin-bottom: 1rem;
}
.header {
  margin-top: 1.25rem;
  color: var(--header-color);
  font-size: var(--header-size);
  font-weight: bold;
  text-align: center;
  padding-bottom: 1.5rem;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.05);
}
.body {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  height: 31.25rem;
  overflow: auto;
}
.bubble {
  max-width: 80%;
  padding: 0.8em 1.4em;
  clear: both;
  word-wrap: break-word;
  margin-bottom: 0.625rem;
}
.bot {
  margin-left: 1rem;
  margin-right: auto;
  background-color: #dbdbdb;
  color: black;
  border-radius: 1.5rem 1.5rem 1.5rem 0;
}
.user {
  margin-right: 1rem;
  margin-left: auto;
  background-color: #099ac8; // TODO: expose amplify blue color
  color: var(--amplify-white);
  border-radius: 1.5rem 1.5rem 0 1.5rem;
}
.chatbot-control {
  display: flex;
  align-items: center;
  border-top: 0.062rem solid rgba(0, 0, 0, 0.05);
  padding-right: 0.625rem;
  amplify-input {
    --border: none;
    --margin: 0;
  }
}
.icon-button {
  --icon-height: 1.25rem;
  --icon-fill: var(--amplify-primary-color);
  --padding: 0.625rem;
}
