@import 'animation.scss';
:host {
  --header-color: var(--amplify-secondary-color);
  --header-size: var(--amplify-text-lg);
  --bot-background-color: rgb(230, 230, 230);
  --bot-text-color: black;
  --user-background-color: #099ac8;
  --user-text-color: var(--amplify-white);
  --width: 28.75rem;
  --height: 37.5rem;

  width: 95%;
  height: var(--height);
  @include md {
    width: var(--width);
  }
  max-width: var(--width);
}
.amplify-chatbot {
  display: inline-flex;
  flex-direction: column;
  background-color: var(--background-color);
  border-radius: 0.375rem;
  box-shadow: 0.0625rem 0rem 0.25rem 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  font-family: var(--amplify-font-family);
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
}
.header {
  margin-top: 1.25rem;
  color: var(--header-color);
  font-size: var(--header-size);
  font-weight: bold;
  text-align: center;
  padding-bottom: 1.5rem;
}
.body {
  border-top: 0.0625rem solid rgba(0, 0, 0, 0.05);
  padding-top: 2rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: auto;
}
.bubble {
  max-width: 100%;
  padding: 0.8em 1.4em;
  text-align: left;
  word-wrap: break-word;
  margin-bottom: 0.625rem;
}
.bot {
  margin-left: 1rem;
  margin-right: auto;
  background-color: var(--bot-background-color);
  color: var(--bot-text-color);
  border-radius: 1.5rem 1.5rem 1.5rem 0;
}
.user {
  margin-right: 1rem;
  margin-left: auto;
  background-color: var(--user-background-color);
  color: var(--user-text-color);
  border-radius: 1.5rem 1.5rem 0 1.5rem;
}
.footer {
  display: flex;
  align-items: center;
  border-top: 0.062rem solid rgba(0, 0, 0, 0.05);
  padding-right: 0.625rem;
  amplify-input {
    --border: none;
    --margin: 0;
    flex-grow: 1;
  }
}
canvas {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  flex-grow: 1;
  height: 3.125rem;
}
.icon-button {
  --icon-height: 1.25rem;
  --icon-fill: var(--amplify-primary-color);
  --padding: 0.625rem;
  --width: auto;
}
