/**
 * Loading animation adapted from: https://github.com/nzbin/three-dots.
 */
.dot-flashing {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 10rem;
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-animation: dot-flashing 1s infinite linear alternate;
  animation: dot-flashing 1s infinite linear alternate;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.65);
  }

  &::before {
    left: -1rem;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 10rem;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
  }

  &::after {
    left: 1rem;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 10rem;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
  }
}
@keyframes dot-flashing {
  0% {
    background-color: rgba(0, 0, 0, 0.65);
  }
  50%,
  100% {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
