/**
 * @prop --color: Text color of the content placed between the horizontal rules
 * @prop --border-color: Color of the horizontal rules
 * @prop --content-background: Background color of the container placed between the horizontal rules
 */
:host {
	--color: var(--amplify-grey);
	--border-color: var(--amplify-light-grey);
	--content-background: var(--amplify-white);
	display: block;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid var(--border-color);
	line-height: 0.1em;
	margin: 32px 0;
	color: var(--color);
}

.strike-content {
	background: var(--content-background);
	padding: 0 25px;
	font-size: var(--amplify-text-sm);
	font-weight: 500;
}
