.picker {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type='file'] {
	width: 100%;
	height: 100%;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	cursor: pointer;
}
