:host{
  --label-font-size: 0.9rem;
  --description-font-size: 0.8rem;
}


.form-field {
  margin-bottom: 15px;
}

.form-field-label {
  display: block;
  font-size: var(--label-font-size);
  padding-bottom: 0.5em;
}

.form-field-description {
  font-size: var(--description-font-size);
  padding-top: 0.5em;
}
