:host {
  --color: var(--amplify-secondary-color);
  --background-color: var(--amplify-secondary-contrast);
  --border-color: var(--amplify-light-grey);
  --border-color-focus: var(--amplify-primary-color);
}

.input-host {
  width: 100%;
}

.input {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: var(--amplify-text-sm);
  color: var(--color);
  background-color: var(--background-color);
  background-image: none;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0 0 0.625rem 0;
  height: 3.125rem;
  line-height: 1.1;

  &:focus {
    outline: none;
    border-color: var(--border-color-focus);
  }

  &:disabled {
    opacity: 0.5;
  }
}
