/**
 * @prop --color: Text color within the input
 * @prop --background-color: Background color of the input
 * @prop --border-color: Border color of the input 
 * @prop --border-color-focus: Border color of the input when focused on
 * @prop --margin: Margin around the input
 */
amplify-input {
	--color: var(--amplify-secondary-color);
	--background-color: var(--amplify-secondary-contrast);
	--border-color: var(--amplify-light-grey);
	--border-color-focus: var(--amplify-primary-color);
	--border: 1px solid var(--border-color);
	--margin: 0 0 0.625rem 0;
}

[data-autocompleted] {
	background-color: rgb(232, 240, 254) !important;
}

.input-host {
	width: 100%;
}

.input {
	display: block;
	width: 100%;
	padding: 1rem;
	font-size: var(--amplify-text-sm);
	color: var(--color);
	background-color: var(--background-color);
	background-image: none;
	border: var(--border);
	border-radius: 3px;
	box-sizing: border-box;
	margin: var(--margin);
	height: 3.125rem;
	line-height: 1.1;
	box-shadow: none; // to disable red outline when input is empty on firefox

	&:focus {
		outline: none;
		border-color: var(--border-color-focus);
	}

	&:disabled {
		opacity: 0.5;
	}
}
