amplify-text-field input {
  padding: 5px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  border: 1px gray solid;
}

amplify-text-field input:focus {
  outline: none;
  border-color: orange;
}

amplify-text-field .label {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  padding-bottom: 0.5em;
}

amplify-text-field .description {
  font-size: 0.8em;
  padding-top: 0.5em;
}
