/**
 * @prop --width: Width of the icon
 * @prop --height: Height of the icon
 * @prop --icon-fill-color: Fill color of the icon
 */
:host {
	--width: auto;
	--height: auto;
	--icon-fill-color: var(--amplify-white);
}

svg {
	fill: var(--icon-fill-color);
	width: var(--width);
	height: var(--height);
}
