:host {
  display: inline-block;
  --width: auto;
  --height: 1.25rem;
  --icon-fill-color: var(--amplify-white);
  height: var(--height);
}

svg {
  fill: var(--icon-fill-color);
  width: var(--width);
  height: 100%;
}
