name: Publish package to npm and create release on github

on:
  workflow_call:
    inputs:
      preid:
        required: false
        type: string
      allow-protected-preid:
        required: false
        default: false
        type: boolean

jobs:
  validate-preid:
    name: Validate preid
    runs-on: ubuntu-latest
    steps:
      - name: Forbidden and protected preid protection
        # Protection for npm tags that we want to protect from accidental use
        env:
          ALLOW_PROTECTED_PREIDS: ${{ inputs.allow-protected-preid }}
          PREID: ${{ inputs.preid }}
          FORBIDDEN_PREIDS: latest
          PROTECTED_PREIDS: next unstable stable-5 stable-4
        run: |
          echo "Testing to see if $PREID is in the forbidden list ($FORBIDDEN_PREIDS)"
          for e in $FORBIDDEN_PREIDS; do [[ $PREID == $e ]] && echo "$PREID is forbidden from preid release" && exit 1; done
          [[ $ALLOW_PROTECTED_PREIDS == 'false' ]] && echo "Testing to see if $PREID is in the protected list ($PROTECTED_PREIDS)"
          [[ $ALLOW_PROTECTED_PREIDS == 'false' ]] && for e in $PROTECTED_PREIDS; do [[ $PREID == $e ]] && echo "$PREID is protected from preid release" && exit 1; done
          echo "$PREID is allowed for preid release"

  deploy:
    name: Publish to Amplify Package
    needs: validate-preid
    secrets: inherit
    uses: ./.github/workflows/callable-npm-publish-trusted.yml
    with:
      target: preid
      preid: ${{ inputs.preid }}
      github_user: ${{ vars.GH_USER}}
      github_email: ${{ vars.GH_EMAIL}}
