name: Release LTS version to npm and update repository

on:
  workflow_call:
    inputs:
      target:
        required: true
        type: string

jobs:
  deploy:
    name: Publish to Amplify Package
    secrets: inherit
    uses: ./.github/workflows/callable-npm-publish-trusted.yml
    with:
      target: ${{ inputs.target }}
      github_user: ${{ vars.GH_USER}}
      github_email: ${{ vars.GH_EMAIL}}

  post-deploy:
    name: Post-deployment tasks
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          path: amplify-js
          token: ${{ secrets.GH_TOKEN_AMPLIFY_JS_WRITE }}
          # Minimal depth 0 so we can fetch all git tags.
          fetch-depth: 0

      - name: Set github commit user
        env:
          GITHUB_EMAIL: ${{ vars.GH_EMAIL }}
          GITHUB_USER: ${{ vars.GH_USER }}
        run: |
          git config --global user.email $GITHUB_EMAIL
          git config --global user.name $GITHUB_USER

      - name: Setup node for docs generation
        uses: ./amplify-js/.github/actions/node-and-build

      - name: Update API documentation
        working-directory: ./amplify-js
        run: |
          yarn run docs
          git add ./docs/api/
          git commit -m "chore(release): update API docs [ci skip]"

      - name: Push post release changes
        working-directory: ./amplify-js
        env:
          TARGET_BRANCH: ${{ inputs.target }}
        run: |
          git push origin $TARGET_BRANCH
