name: 'E2E Test Runner'

on:
  workflow_call:

jobs:
  e2e-prep:
    name: Get required configs to run e2e tests
    runs-on: ubuntu-latest
    steps:
      - name: checkout AmplifyJs
        uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f
        with:
          path: amplify-js
      - name: read integ config files
        id: load_config
        run: |
          echo "INTEG_CONFIG=$(cat .github/integ-config/integ-all.yml | yq '.tests' -o=json | jq -c .)"
          echo "INTEG_CONFIG=$(cat .github/integ-config/integ-all.yml | yq '.tests' -o=json | jq -c .)" >> $GITHUB_OUTPUT
          echo "DETOX_INTEG_CONFIG=$(cat .github/integ-config/detox-integ-all.yml | yq -o=json | jq -c .)" >> $GITHUB_OUTPUT
        working-directory: ./amplify-js
    outputs:
      integ-config: ${{steps.load_config.outputs.INTEG_CONFIG}}
      detox-integ-config: ${{steps.load_config.outputs.DETOX_INTEG_CONFIG}}

  debug-job:
    name: debug the job
    needs: e2e-prep
    runs-on: ubuntu-latest
    steps:
      - name: check result
        run: |
          echo '${{ needs.e2e-prep.outputs.integ-config }}'
  e2e-test-runner:
    name: e2e test runnner
    needs: e2e-prep
    secrets: inherit
    strategy:
      matrix:
        integ-config: ${{ fromJson(needs.e2e-prep.outputs.integ-config) }}
      fail-fast: false
    uses: ./.github/workflows/callable-e2e-tests.yml
    with:
      test_name: ${{ matrix.integ-config.test_name }}
      framework: ${{ matrix.integ-config.framework }}
      category: ${{ matrix.integ-config.category }}
      spec: ${{ matrix.integ-config.spec || '' }}
      amplifyjs_dir: ${{ matrix.integ-config.amplifyjs_dir || false }}
      sample_name: ${{ toJSON(matrix.integ-config.sample_name) || '[""]' }}
      browser: ${{ toJSON(matrix.integ-config.browser) || '[""]' }}

  detox-e2e-test-runner:
    name: e2e test runner
    needs: e2e-prep
    strategy:
      matrix:
        integ-config: ${{ fromJson(needs.e2e-prep.outputs.detox-integ-config) }}
      fail-fast: false
    secrets: inherit
    uses: ./.github/workflows/callable-e2e-tests-detox.yml
    with:
      test_name: ${{ matrix.integ-config.test_name }}
      working_directory: ${{ matrix.integ-config.working_directory }}
