name: Release Unstable

# Concurrency control to prevent multiple unstable releases running simultaneously
# Cancels in-progress releases when new commits are pushed
concurrency:
  group: push-release-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main

jobs:
  # Job 1: Run release verification tests before publishing
  # We skip the release if the commit message contains [skip release] to prevent unnecessary builds, e.g., docs commits
  release-verification:
    if: "!contains(github.event.head_commit.message, '[skip release]')"
    secrets: inherit
    uses: ./.github/workflows/callable-release-verification.yml

  # Job 2: Publish unstable packages after tests pass
  unstable-release:
    needs: release-verification
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          path: amplify-js

      - name: Setup node and build the repository
        uses: ./amplify-js/.github/actions/node-and-build

      - name: Publish to @unstable
        uses: changesets/action@aba318e9165b45b7948c60273e0b72fce0a64eb9 # v1.4.7
        with:
          publish: yarn publish:unstable
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}