name: Release Unstable

# Concurrency control to prevent multiple unstable releases running simultaneously
# Cancels in-progress releases when new commits are pushed
concurrency:
  group: push-release-${{ github.ref }}
  cancel-in-progress: true

# Permissions required for publishing packages
permissions:
  contents: write

on:
  push:
    branches:
      - main

jobs:
  # Job 1: Publish unstable packages
  unstable-release:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'aws-amplify'
    steps:
      - name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          path: amplify-js

      - name: Setup node and build the repository
        uses: ./amplify-js/.github/actions/node-and-build

      - name: Publish to @unstable
        uses: changesets/action@aba318e9165b45b7948c60273e0b72fce0a64eb9 # v1.4.7
        with:
          cwd: ./amplify-js
          publish: yarn publish:unstable
          createGithubReleases: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
